body{
  font-family: "Helvetica", arial, sans-serif;
  line-height: 2;
  background: #000;
}
.button {
display: inline-block;
padding: 15px 25px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #4CAF50;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
float: left;
    border: 1px solid #000;
}

.button:hover {background-color: #3e8e41}

.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

h2{
  color: red;
}
.container{
  align-content: center;
  padding: 5em;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  border: 2px #663399 solid;
  background color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #ff7b25;



 }

.two {
  float: right;
  span 1fr;
}
h1{
   text-align: justify;
  color: red;
  text-align: center;
}
