* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  font-family: "Helvetica", arial, sans-serif;
  background-color: #663399;
  text-transform: capitalize;
}
.container{

  padding: 0.5em;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px #663399 solid;
  background-color: #ff7b25;
  /* ROOT FONT STYLES */

  * {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
  }

  /* TYPOGRAPHY */

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
  }

  .font-light {
    font-weight: 300;
  }

  .font-regular {
    font-weight: 400;
  }

  .font-heavy {
    font-weight: 700;
  }

  /* POSITIONING */

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .justify {
    text-align: justify;
  }



}
.cover img{

  width: 50%;
  border-style: solid;
  border-width: medium;
}

.cover h1{
  float: left;
  padding-right: 150px;
}

.italimg img{
width: 50%;
border-style: solid;
border-width: medium;
max-width:230px;
float: left;
margin-right: 50px;


}
.italimg{
  margin-bottom: 150px;
}

table, th, td {
    border: 1px solid black;
    text-align: left;
    border-spacing: 0px;
    padding-bottom: : 10px;
    border-collapse: collapse;
}


.bo-kaap{
  width:32.5%;
  display:inline-block;

}
.bo-kaap img{
  float: left;
  width: 45%;
  margin-right: 5px;

}




@media screen and (max-width: 680px)  {
body{
  font-size: auto;
}
.bo-kaap {
  width: 100%;
  display: block;
}

}
