body{
  font-family: "Helvetica", arial, sans-serif;
  line-height: 2;
  background: #000;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 100px;
}
.container{
  align-content: center;
  padding: 5em;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  border: 2px #663399 solid;
  background color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #ff7b25;



 }

.two {
  float: right;
  span 1fr;
}
h1{
   text-align: justify;
  color: red;
  text-align: center;
}
