body{
  font-family: "Helvetica", arial, sans-serif;
  line-height: 2;
  background: #000;
}
  .button {
      position: relative;
      background-color: #4CAF50;
      border: none;
      font-size: 28px;
      color: #FFFFFF;
      padding: 20px;
      width: 200px;
      height: 130px;
      text-align: center;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
  }

  .button:after {
      content: "";
      background: #90EE90;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px!important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
  }

  .button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
  }
.container{
  align-content: center;
  padding: 5em;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  border: 2px #663399 solid;
  background color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #ff7b25;



 }

.two {
  float: right;
  span 1fr;
}
h1{
   text-align: justify;
  color: red;
  text-align: center;
}
